<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_thuexe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Thuê Xe Cần Thơ"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_ThueXe">
        <activity android:name=".GiaoDien.ThongTinKhachHangXemay" />
        <activity android:name=".GiaoDien.ThongTinKhachHangOto" />
        <activity android:name=".GiaoDien.MainActivity_gGridView_Admin" />
        <activity android:name=".GiaoDien.MainActivity_GridView" />
        <activity android:name=".GiaoDien.ThueXeMay" />
        <activity android:name=".GiaoDien.GioiTheu" />
        <activity android:name=".GiaoDien.DangNhap_Admin" />
        <activity android:name=".GiaoDien.ListView_TuyChon" />
        <activity android:name=".GiaoDien.ThueOTo" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>